@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    color: #fff;

    font-family: 'Inter', sans-serif;
    font-size: unset;
    font-weight: unset;

}

html {
    min-height: 100vh;

    background-color: #373737;
}