---
import BaseLayout from "../Layouts/baseLayout.astro";
---
<BaseLayout title="Page not found">
    <div class="pagenotfound">
        <div class="pagenotfound__container">
            <h1 class="pagenotfound__title">Page not found</h1>
            <p class="pagenotfound__content">Sorry, we couldn't find the page you were looking for.</p>
            <a class="pagenotfound__btn" href="/">Go back home</a>
        </div>
    </div>
</BaseLayout>