---
import '../assets/css/main.scss'

var { title } = Astro.props;

if(!title) {
	title = 'Default Title';
}
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Whacka</title>
	</head>
	<body>
		<slot />
	</body>
</html>
